<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sdkVersions</key>
	<array>
		<string>34.0.0</string>
		<string>35.0.0</string>
		<string>36.0.0</string>
	</array>
</dict>
</plist>
