:root {
  --color-text: #000000;
  --color-background: #ffffff;
  --color-background-element: #f0f0f3;
  --color-background-selected: #e0e1e6;
  --color-text-secondary: #60646c;

  --font-display:
    Spline Sans, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --font-rounded: 'SF Pro Rounded', 'Hiragino Maru Gothic ProN', Meiryo, 'MS PGothic', sans-serif;
  --font-serif: Georgia, 'Times New Roman', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #ffffff;
    --color-background: #000000;
    --color-background-element: #212225;
    --color-background-selected: #2e3135;
    --color-text-secondary: #b0b4ba;
  }
}
