<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>149884608757-f525l942v9jqkl0or3984o0e35kgtgim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149884608757-f525l942v9jqkl0or3984o0e35kgtgim</string>
	<key>API_KEY</key>
	<string>AIzaSyAh4G9KPqifPOyEG6G1djB1wEG_nnY1U7o</string>
	<key>GCM_SENDER_ID</key>
	<string>149884608757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.Exponent</string>
	<key>PROJECT_ID</key>
	<string>bacon-expo</string>
	<key>STORAGE_BUCKET</key>
	<string>bacon-expo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149884608757:ios:0a39df54a288adff</string>
	<key>DATABASE_URL</key>
	<string>https://bacon-expo.firebaseio.com</string>
</dict>
</plist>