.NbeUQq_container {
  -webkit-user-select: none;
  user-select: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  min-height: 48px;
  padding: 0 1rem;
  display: flex;
  position: relative;
}

.NbeUQq_leftGroup {
  flex-direction: row;
  align-items: stretch;
  gap: 16px;
  display: flex;
  position: relative;
}

.NbeUQq_headerControls {
  flex-direction: row;
  align-items: center;
  gap: 8px;
  display: flex;
}

.NbeUQq_divider {
  border-left: 1px solid var(--expo-log-color-border);
  width: 0;
}

.NbeUQq_navGroup {
  flex-direction: row;
  align-items: center;
  gap: 8px;
  display: flex;
}

.NbeUQq_sdkBadge {
  border: 1px solid var(--expo-log-color-border);
  color: var(--expo-log-secondary-label);
  border-radius: 999px;
  flex-direction: row;
  gap: 6px;
  padding: 4px 12px;
  display: flex;
}

.NbeUQq_sdkIcon {
  width: 14px;
}

.NbeUQq_sdkText {
  color: var(--expo-log-secondary-label);
  font-family: var(--expo-log-font-family);
  font-size: .75rem;
}

.NbeUQq_pageButton {
  aspect-ratio: 1;
  background-color: var(--expo-log-secondary-system-background);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 2px;
  transition: background-color .2s;
  display: flex;
}

.NbeUQq_pageButton[aria-disabled="true"] {
  cursor: not-allowed;
}

.NbeUQq_pageButton:not([aria-disabled]):hover {
  background-color: var(--expo-log-secondary-system-background-hover);
}
