/packages/@expo/cli                             @EvanBacon @bycedric
/packages/babel-preset-expo                     @brentvatne
/packages/expo-ads-admob                        @tsapeta
/packages/expo-ads-facebook                     @tsapeta
/packages/expo-analytics-amplitude              @tsapeta
/packages/expo-analytics-segment                @tsapeta
/packages/expo-app-loader-provider              @tsapeta
/packages/expo-app-loading                      @bbarthec
/packages/expo-apple-authentication             @esamelson @tsapeta
/packages/expo-application                      @ide
/packages/expo-asset                            @tsapeta
/packages/expo-av                               @bbarthec
/packages/expo-background-fetch                 @tsapeta
/packages/expo-barcode-scanner                  @bbarthec @lukmccall
/packages/expo-battery                          @tsapeta
/packages/expo-blur                             @tsapeta
/packages/expo-branch                           @tsapeta
/packages/expo-brightness                       @tsapeta
/packages/expo-calendar                         @lukmccall
/packages/expo-camera                           @bbarthec @lukmccall
/packages/expo-cellular                         @ide @tsapeta
/packages/expo-checkbox                         @bycedric
/packages/expo-clipboard                        @tsapeta
/packages/expo-constants                        @bbarthec
/packages/expo-contacts                         @EvanBacon
/packages/expo-crypto                           @EvanBacon
/packages/expo-dev-client                       @lukmccall
/packages/expo-dev-launcher                     @lukmccall
/packages/expo-dev-menu                         @lukmccall
/packages/expo-dev-menu-interface               @lukmccall
/packages/expo-device                           @ide @tsapeta
/packages/expo-document-picker                  @bbarthec
/packages/expo-error-recovery                   @lukmccall @bbarthec
/packages/expo-face-detector                    @bbarthec
/packages/expo-facebook                         @bbarthec
/packages/expo-file-system                      @bbarthec
/packages/expo-firebase-core                    @EvanBacon
/packages/expo-firebase-analytics               @EvanBacon
/packages/expo-firebase-recaptcha               @EvanBacon
/packages/expo-font                             @tsapeta
/packages/expo-gl-cpp                           @tsapeta @bbarthec
/packages/expo-gl                               @tsapeta @bbarthec
/packages/expo-google-sign-in                   @EvanBacon
/packages/expo-haptics                          @bbarthec
/packages/expo-image                            @bbarthec @barthap
/packages/expo-image-manipulator                @bbarthec
/packages/expo-image-picker                     @bbarthec @lukmccall
/packages/expo-in-app-purchases                 @ide
/packages/expo-intent-launcher                  @bbarthec
/packages/expo-keep-awake                       @brentvatne
/packages/expo-linear-gradient                  @brentvatne
/packages/expo-local-authentication             @bycedric @lukmccall
/packages/expo-localization                     @EvanBacon @bbarthec
/packages/expo-location                         @bycedric @lukmccall
/packages/expo-mail-composer                    @bbarthec
/packages/expo-media-library                    @tsapeta @lukmccall
/packages/expo-module-scripts                   @ide @bbarthec
/packages/expo-module-template                  @bbarthec @tsapeta
/packages/expo-modules-autolinking              @tsapeta
/packages/expo-modules-core                     @tsapeta
/packages/expo-navigation-bar                   @EvanBacon
/packages/expo-network                          @ide
/packages/expo-notifications                    @tsapeta
/packages/expo-permissions                      @bbarthec @lukmccall
/packages/expo-print                            @lukmccall
/packages/expo-processing                       @EvanBacon
/packages/expo-random                           @EvanBacon
/packages/expo-screen-capture                   @tsapeta
/packages/expo-screen-orientation               @lukmccall
/packages/expo-secure-store                     @bbarthec
/packages/expo-sensors                          @bbarthec
/packages/expo-sharing                          @bbarthec
/packages/expo-sms                              @bbarthec
/packages/expo-speech                           @bbarthec
/packages/expo-splash-screen                    @bbarthec
/packages/expo-sqlite                           @bbarthec
/packages/expo-standard-web-crypto              @EvanBacon
/packages/expo-status-bar                       @brentvatne
/packages/expo-store-review                     @EvanBacon
/packages/expo-stories                          @ajsmth
/packages/expo-structured-headers               @esamelson
/packages/expo-system-ui                        @EvanBacon
/packages/expo-task-manager                     @tsapeta @bycedric
/packages/expo-tracking-transparency            @tsapeta
/packages/expo-updates                          @esamelson
/packages/expo-updates-interface                @esamelson
/packages/expo-video-thumbnails                 @tsapeta
/packages/expo-web-browser                      @bbarthec
/packages/expo-yarn-workspaces                  @ide
/packages/expo                                  @ide @tsapeta
/packages/jest-expo-enzyme                      @ide @EvanBacon
/packages/jest-expo-puppeteer                   @ide @EvanBacon
/packages/jest-expo                             @brentvatne
/tools                                          @tsapeta
/.github/workflows                              @tsapeta
/.github/workflows/cli.yml                      @EvanBacon @bycedric
