PATH_add bin

layout ruby

export EXPO_ROOT_DIR=`pwd`
export ANDROID_HOME=$ANDROID_SDK

source_local() {
  file=./.envrc.local
  if [[ -f "$file" ]]; then
    source_env "$file"
  fi
  watch_file "$file"
}

source_secrets() {
  file=$1
  if [[ -f "$file" ]] && head -1 "$file" | grep --quiet "#!"; then
    source_env "$file"
  fi
  watch_file "$file"
}

source_secrets secrets/expotools.env
source_local
