# NOTE(@hassankhan): This is temporary, and will be removed in a followup PR
# Use hoisted mode to match existing behavior
node-linker=hoisted

auto-install-peers=true

# NOTE(@hassankhan): This is temporary, and will be removed in a followup PR
# Don't be strict about peer dependencies to match existing behavior
strict-peer-dependencies=false