## Compiled JavaScript files
**/*.js
**/*.js.map

# Logging
firebase-debug.log
ui-debug.log

# Typescript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Local environment secrets
.runtimeconfig.json
