@import url(//media.readthedocs.org/css/readthedocs-doc-embed.css);

body,
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend,
.btn {
  font-family: 'Source Sans Pro', sans-serif;
}

code, pre, tt, .rst-content tt, .rst-content code, div[class^='highlight'] pre {
  font-family: 'Menlo',Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;;
}

code.descclassname, code.descname {
  padding: 3px 0;
  border-radius: 0;
}

code, pre {
  margin: 14px 0;
}

pre {
  padding: 5px 0 5px 20px;
  margin: 14px 0;
}

code.xref {
  color: #428bca;
}

dl dd {
  margin: 3px 0 10px 20px;
}

.text-logo {
  margin: 0 0 0 0;
  height: 60px;
  padding: 0;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  background-image: url(../img/logo-text.png);
  background-size: 190px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  font-size: 0;
}

.text-logo::-moz-selection {
  color: transparent;
  background: transparent;
}

.text-logo::selection {
  color: transparent;
  background: transparent;
}

.text-logo:hover {
  color: transparent;
}

.text-logo:active {
  color: transparent;
}

#left-column {
  background: #fff;
}

/* #right-column, .footer { */
/*   border-right: 1px solid #e0e0e0; */
/* } */

body {
  background-color: #fff;
}

h1 > code {
  font-size: 38px;
}

h2 > code {
  font-size: 34px;
}

h3 > code {
  font-size: 28px;
}

h4 > code {
  font-size: 24px;
}

h5 > code {
  font-size: 20px;
}

#version-indicator {
  margin-top: -5px;
  margin-bottom: 11px;
  text-align: center;
}


#left-column {
  position: relative !important;
  overflow: inherit !important;
}

.container-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
