.fileIcon {
  display: none;
}

.copyButton {
  cursor: pointer;
  display: inline-flex;
  font-weight: 500;
  align-items: center;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  font-size: 10px;

  background-color: transparent;

  box-shadow: none;
  gap: 6px;
  height: 40px;
  border-radius: 0;
  border-width: 0;
  padding-left: 16px;
  padding-right: 16px;

  justify-content: flex-end;
  border-left: 1px solid var(--expo-log-color-border);
  background-color: var(--expo-log-color-background);
}

.copyButton:hover {
  background-color: var(--expo-log-secondary-system-background-hover);
}

.copyButtonIcon {
  transform: translateZ(0);
  width: 1.1rem;
  height: 1.1rem;
  margin-bottom: -1px;
  color: var(--expo-log-secondary-label);
  transition: all 0.2s ease-in-out;
}

/* Child svg of copyButton should transition to diagonally on hover of the button */
.copyButton:hover .copyButtonIcon {
  /* origin in bottom left */
  transform-origin: bottom left;
  transform: scale(1.1);
}

.copyButtonText {
  display: none;
  align-items: center;
  color: inherit;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;

  letter-spacing: -0.003rem;
  font-family: var(--expo-log-font-family);
  color: var(--expo-log-color-label);
}

.headerScrollText {
  color: inherit;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: -0.009rem;
  display: flex;
  overflow-x: auto;
  align-items: center;
  gap: 8px;
  position: relative;
  font-weight: 600;

  &::-webkit-scrollbar {
    display: none;
  }
}

.header {
  display: flex;
  min-height: 40px;
  justify-content: space-between;
  overflow: hidden;
  background-color: var(--expo-log-color-background);
  border-bottom: 1px solid var(--expo-log-color-border);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  position: relative;
}

.headerIconWrapper {
  display: none;
}
.headerText {
  padding-left: 12px;
  overflow-wrap: break-word;
  font-family: var(--expo-log-font-mono);
  white-space: nowrap;
  color: var(--expo-log-color-label);
  padding-right: 16px;
}

.blurGradientRL {
  background: linear-gradient(to left, var(--expo-log-color-background) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20;
  pointer-events: none;
}
.blurGradientLR {
  background: linear-gradient(to right, var(--expo-log-color-background) 0%, rgba(0, 0, 0, 0) 100%);
  border-top-left-radius: 6px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .fileIcon {
    display: block;
  }
  .headerText {
    padding-left: 0px;
  }

  .headerIconWrapper {
    display: block;
    min-width: 1rem;
    height: 1rem;
    padding-left: 16px;
  }
  .header {
    padding-left: 0px;
  }
  .copyButtonText {
    display: flex;
  }
}
