@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 2s linear infinite;
}

.root {
  display: flex;
  align-items: center;
  border-radius: 12px;
  flex-direction: row;
  height: 24px;
  padding: 0 8px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media (hover: hover) {
  .root:hover {
    background-color: rgba(51, 51, 51, 1);
  }
}

.root:active {
  background-color: rgba(51, 51, 51, 0.6);
}

.image {
  height: 14px;
  width: 16px;
  margin-right: 4px;
}

.text {
  font-size: 12px;
  line-height: 16px;
}
