.root {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  gap: 8px;
  align-items: center;
}

.headerIcon {
  width: 1rem;
  height: 1rem;
  color: var(--expo-log-color-label);
}

.headerTitle {
  font-family: var(--expo-log-font-family);
  color: var(--expo-log-color-label);
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.badge {
  background-color: rgba(234.6, 234.6, 244.8, 0.1);
  font-family: var(--expo-log-font-family);
  color: var(--expo-log-color-label);
  border-radius: 50px;
  font-size: 12px;
  aspect-ratio: 1/1;
  display: flex;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;
}

.collapseButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.collapseContent {
  padding: 6px;
  border-radius: 8px;
  transition: background-color 0.3s;
  outline-color: transparent;
  color: rgba(234.6, 234.6, 244.8, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  user-select: none;
}

@media (hover: hover) {
  .collapseButton:hover .collapseContent {
    background-color: rgba(234.6, 234.6, 244.8, 0.1);
  }
}

.collapseTitle {
  display: none;
  font-family: var(--expo-log-font-family);
  font-size: 14px;
  user-select: none;
  color: rgba(234.6, 234.6, 244.8, 0.6);
}

/* xs */
@media screen and (min-width: 320px) {
  .collapseTitle {
    display: block;
  }
}

.transition {
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.warningBox {
  background-color: var(--expo-log-secondary-system-background);
  border: 1px solid var(--expo-log-color-border);
  padding: 10px 15px;
  border-radius: 5px;
}

.warningText {
  font-family: var(--expo-log-font-family);
  color: var(--expo-log-color-label);
  opacity: 0.7;
  font-size: 13px;
  font-weight: 400;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.stackFrame {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background-color 0.3s;
  outline-color: transparent;
  background-color: transparent;
  color: var(--expo-log-color-label);
  cursor: pointer;

  /* collapsed frames */
  &[data-collapsed] {
    opacity: 0.4;
  }

  /* aria-disabled */
  &[aria-disabled='true'] {
    background-color: transparent;
    color: var(--expo-log-color-label);
    cursor: unset;
  }
}

@media (hover: hover) {
  .stackFrame:hover {
    background-color: rgba(234.6, 234.6, 244.8, 0.1);
    outline-color: var(--expo-log-color-label);
  }
}

.stackFrameTitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  overflow-wrap: break-word;
}

.stackFrameFile {
  font-size: 12px;
  font-weight: 300;
  opacity: 0.7;
  overflow-wrap: break-word;
}
