<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026763265415-40d390fpaaa121klj1u67ps9rr55era0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026763265415-40d390fpaaa121klj1u67ps9rr55era0</string>
	<key>API_KEY</key>
	<string>AIzaSyBgH9mo9R8WGN4tcuf7M3HZHVj44zSDvs4</string>
	<key>GCM_SENDER_ID</key>
	<string>1026763265415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.nclexp</string>
	<key>PROJECT_ID</key>
	<string>test-suite-ecd20</string>
	<key>STORAGE_BUCKET</key>
	<string>test-suite-ecd20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026763265415:ios:04623b7b57333d8de8af22</string>
	<key>DATABASE_URL</key>
	<string>https://test-suite-ecd20.firebaseio.com</string>
</dict>
</plist>