body,
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend,
.btn {
  font-family: 'Helvetica', sans-serif;
}

code, pre, tt, .rst-content tt, .rst-content code, div[class^='highlight'] pre {
  font-family: 'Menlo',Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;;
}

.wy-side-nav-search {
  background-color: #056ecf;
}

.text-logo {
  margin: 0 0 0 0;
  height: 78px;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  background-image: url(../img/logo-text.png);
  background-size: 175px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.text-logo:hover {
  color: transparent;
}

#left-column {
  background: #fff;
}

/* #right-column, .footer { */
/*   border-right: 1px solid #e0e0e0; */
/* } */

body {
  background-color: #fff;
}

