# Android
*.apk
*.hprof
/android/**/build
/android/**/.cxx
/android/**/local.properties
/android/captures
/android/expoview/libs/ReactAndroid-temp
/android/versioned-react-native/packages
/android/versioned-react-native/ReactAndroid
ReactAndroid-temp.aar
/android/prebuiltHermes
/android/versioned-abis/**/*.aar
/android/app/src/main/AndroidManifest.xml
/android/app/google-services.json
/android/expoview/src/main/java/host/exp/exponent/generated/ExponentBuildConstants.java
/android/app/src/androidTest/java/host/exp/exponent/generated/TestBuildConstants.java

# iOS
/ios/Pods
/ios/build
/ios/.xcode.env.local
/ios/versioned-react-native/*/ReactNative/sdks/hermes-engine/destroot
/ios/Exponent/Supporting/EXBuildConstants.plist.bak
/ios/Exponent/Supporting/EXBuildConstants.plist.json
/ios/Exponent/Supporting/EXBuildConstants.plist
/ios/Exponent/Supporting/GoogleService-Info.plist
/ios/Exponent/Supporting/Info.plist.bak
/ios/Exponent/Supporting/Info.plist.json

# Vendored Modules
/modules/**/build

# JS
dist/