<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="abi49_0_0.host.exp.expoview" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="host.exp.exponent.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- Used by react-native-netinfo module -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- These require runtime permissions on M -->
    <!-- All of these must be in the blacklist in xdl/src/detach/AndroidShellApp.js as well -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <intent>

            <!-- Required for opening event in calendar if targeting API 30 -->
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="content" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <category android:name="android.intent.category.DEFAULT" />

            <data android:mimeType="application/octet-stream" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <category android:name="android.intent.category.DEFAULT" />

            <data android:mimeType="text/x-vcard" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <category android:name="android.intent.category.DEFAULT" />

            <data android:mimeType="text/vcard" />
        </intent>
        <intent>
            <action android:name="android.intent.action.EDIT" />
        </intent>
        <intent>
            <action android:name="android.intent.action.INSERT" />
        </intent>
        <!-- Query open documents -->
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.OPENABLE" />

            <data android:mimeType="*/*" />
        </intent>
        <!-- Query open documents -->
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
        </intent>
        <intent>

            <!-- Required for picking images from the camera roll if targeting API 30 -->
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>

            <!-- Required for picking images from the camera if targeting API 30 -->
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE" />
        </intent>
        <intent>

            <!-- Required for sending mails if targeting API 30 -->
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND_MULTIPLE" />

            <category android:name="android.intent.category.DEFAULT" />

            <data android:mimeType="*/*" />
        </intent>
        <intent>

            <!-- Required for file sharing if targeting API 30 -->
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="*/*" />
        </intent>
        <!-- Fallback SENDTO -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="sms" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="smsto" />
        </intent>
        <intent>

            <!-- Required for text-to-speech if targeting API 30 -->
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
        <intent>

            <!-- Required for opening tabs if targeting API 30 -->
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="abi49_0_0.host.exp.exponent.modules.api.components.webview.RNCWebViewFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="org.unimodules.core.AppLoader#react-native-headless"
            android:value="host.exp.exponent.taskManager.ExpoHeadlessAppLoader"
            tools:replace="android:value" />

        <receiver
            android:name="host.exp.exponent.notifications.ExpoNotificationsService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="expo.modules.notifications.NOTIFICATION_EVENT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="expo.modules.clipboard.ClipboardFileProvider"
            android:authorities="${applicationId}.ClipboardFileProvider"
            android:exported="true" >
            <meta-data
                android:name="expo.modules.clipboard.CLIPBOARD_FILE_PROVIDER_PATHS"
                android:resource="@xml/clipboard_provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />

        <provider
            android:name="expo.modules.filesystem.FileSystemFileProvider"
            android:authorities="${applicationId}.FileSystemFileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_system_provider_paths" />
        </provider>

        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- https://developer.android.com/guide/topics/manifest/provider-element.html -->
        <provider
            android:name="expo.modules.imagepicker.fileprovider.ImagePickerFileProvider"
            android:authorities="${applicationId}.ImagePickerFileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_picker_provider_paths" />
        </provider>

        <service
            android:name="expo.modules.location.services.LocationTaskService"
            android:exported="false"
            android:foregroundServiceType="location" />
        <!-- https://developer.android.com/guide/topics/manifest/provider-element.html -->
        <provider
            android:name="expo.modules.mailcomposer.MailComposerFileProvider"
            android:authorities="${applicationId}.MailComposerFileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mail_composer_provider_paths" />
        </provider>

        <service
            android:name="expo.modules.notifications.service.ExpoFirebaseMessagingService"
            android:exported="false" >
            <intent-filter android:priority="-1" >
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="expo.modules.notifications.service.NotificationsService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter android:priority="-1" >
                <action android:name="expo.modules.notifications.NOTIFICATION_EVENT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="expo.modules.notifications.service.NotificationForwarderActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="standard"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="expo.modules.sharing.SharingFileProvider"
            android:authorities="${applicationId}.SharingFileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sharing_provider_paths" />
        </provider>

        <receiver
            android:name="expo.modules.taskManager.TaskBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="expo.modules.taskManager.TaskBroadcastReceiver.INTENT_ACTION" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name="expo.modules.taskManager.TaskJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="expo.modules.taskManager.oneAppId"
            android:value="true" />
    </application>

</manifest>