source_up

export ANDROID_SDK_ROOT=~/Library/Android/sdk-nix
export ANDROID_NDK_ROOT=$ANDROID_SDK_ROOT/ndk-bundle
# Deprecated variables, currently used by React Native
export ANDROID_HOME=$ANDROID_SDK_ROOT
export ANDROID_NDK_HOME=$ANDROID_NDK_ROOT

PATH_add $ANDROID_SDK_ROOT/tools/bin
PATH_add $ANDROID_SDK_ROOT/platform-tools
PATH_add $ANDROID_SDK_ROOT/build-tools/*
PATH_add $ANDROID_NDK_ROOT
