source_up

export ANDROID_SDK_ROOT=~/Library/Android/sdk-nix
export ANDROID_NDK_ROOT=$ANDROID_SDK_ROOT/ndk-bundle
# Deprecated variables, currently used by React Native
export ANDROID_HOME=$ANDROID_SDK_ROOT
export ANDROID_NDK_HOME=$ANDROID_NDK_ROOT

PATH_add $ANDROID_SDK_ROOT/tools/bin
PATH_add $ANDROID_SDK_ROOT/platform-tools
PATH_add $ANDROID_NDK_ROOT

# Add build-tools to path
buildtoolsdirs=($ANDROID_SDK_ROOT/build-tools/*) # Glob all installed build-tools versions
if grep --fixed-strings --invert-match '*' <<< "$buildtoolsdirs"&>/dev/null ; then # If the glob matched any...
  PATH_add "${buildtoolsdirs[-1]}" # Add the last one (highest version) to $PATH
fi
# This seems like it would be useful but breaks the expoview build
# watch_file $ANDROID_SDK_ROOT/build-tools
