<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="abi37_0_0.host.exp.expoview" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="host.exp.exponent.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- Used by react-native-netinfo module -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- These require runtime permissions on M -->
    <!-- All of these must be in the blacklist in xdl/src/detach/AndroidShellApp.js as well -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="abi37_0_0.host.exp.exponent.modules.api.components.webview.RNCWebViewFileProvider"
            android:authorities="abi37_0_0.host.exp.expoview.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="abi37_0_0.expo.modules.appauth.AppAuthBrowserActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />

        <provider
            android:name="abi37_0_0.expo.modules.filesystem.FileSystemFileProvider"
            android:authorities="abi37_0_0.expo.modules.filesystem.FileSystemFileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_system_provider_paths" />
        </provider>
        <!-- https://developer.android.com/guide/topics/manifest/provider-element.html -->
        <provider
            android:name="abi37_0_0.expo.modules.imagepicker.ImagePickerFileProvider"
            android:authorities="abi37_0_0.expo.modules.imagepicker.ImagePickerFileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_picker_provider_paths" />
        </provider>

        <service
            android:name="abi37_0_0.expo.modules.location.services.LocationTaskService"
            android:exported="false" />
        <!-- https://developer.android.com/guide/topics/manifest/provider-element.html -->
        <provider
            android:name="abi37_0_0.expo.modules.mailcomposer.MailComposerFileProvider"
            android:authorities="abi37_0_0.expo.modules.mailcomposer.MailComposerFileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mail_composer_provider_paths" />
        </provider>

        <activity
            android:name="abi37_0_0.expo.modules.payments.stripe.OpenBrowserActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="abi37_0_0.expo.modules.sharing.SharingFileProvider"
            android:authorities="abi37_0_0.expo.modules.sharing.SharingFileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sharing_provider_paths" />
        </provider>

        <receiver
            android:name="abi37_0_0.expo.modules.taskManager.TaskBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="abi37_0_0.expo.modules.taskManager.TaskBroadcastReceiver.INTENT_ACTION" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="abi37_0_0.expo.modules.taskManager.TaskJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>
