<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Expo Go</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>host.exp.Exponent</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(EX_BUNDLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.32.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>exp</string>
				<string>exps</string>
				<string>fb1696089354000816</string>
				<string>expauth</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>OAuthRedirect</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>host.exp.exponent</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.603386649315-vp4revvrcgrcjme51ebuhbkbspl048l9</string>
			</array>
		</dict>
	</array>
  <key>NSBonjourServices</key>
  <array>
    <string>_preflight_check._tcp</string>
  </array>
	<key>CFBundleVersion</key>
	<string>2.32.5</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<false/>
	<key>FacebookAppID</key>
	<string>1696089354000816</string>
	<key>FacebookAutoInitEnabled</key>
	<false/>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<false/>
	<key>FacebookDisplayName</key>
	<string>Expo Go</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>GADDelayAppMeasurementInit</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>waze</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Allow Expo projects to access your calendar</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow Expo projects to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow Expo Go to access your camera to take photos</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow Expo projects to access your contacts</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Expo Go needs access to your local network to load projects from your development server</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow Expo projects to use your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow Expo projects to use your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The app shows you the current location on a map and makes it available when you request it</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow Expo projects to access your microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow Expo projects to access your device accelerometer</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Give Expo projects permission to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Give Expo projects permission to access your photos</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Allow Expo projects to access your reminders</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow Expo projects to access your reminders</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier will be used to deliver personalized ads to you</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>v9wttpbfk9.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>n38lu8286q.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
