.vertical-divider {
  margin: 16px 0;
  padding: 0;
}

.centered-text-cell {
  display: inline-block;
  padding-bottom: 16px;
  padding-top: 16px;
  text-align: center;
  width: 100%;
}

.code-annotation {
  font-weight: 600;
  filter: saturate(150%);
}

.code-annotation:hover {
  cursor: pointer;
  opacity: 0.6;
}

.code-annotation-contents {
  font-weight: normal;
  display: none;
}