.overlay {
  position: fixed;
  top: 3vh;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9900;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  --expo-log-max-width: 960px;
  --expo-log-footer-height: 3rem;

  margin: 0 auto;
  max-width: var(--expo-log-max-width);
  width: 100%;
  max-height: calc(100% - 56px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  gap: 0.5rem;
  overflow-y: auto;
  
  /* Wrap horizontal contents */
  overflow-x: hidden;



  background-color: var(--expo-log-color-background);
  display: flex;
  flex: 1;
  flex-direction: column;

  position: relative;
  padding-bottom: calc(var(--expo-log-footer-height) + 1rem);
  /* background-image: linear-gradient(to bottom, var(--expo-log-gradient-stops)); */


  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 200ms ease-out forwards;

}

.bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  pointer-events: all;
  z-index: -1;

  opacity: 0;
  animation: data-expo-log-backdrop-fade-in 150ms ease-out forwards;
}

.bgExit {
  opacity: 1;
  animation: fadeOut 150ms ease-in forwards;
}

.containerExit {
  opacity: 1;
  transform: translateY(0);
  animation: fadeOutUp 150ms ease-in forwards;
}



@keyframes data-expo-log-backdrop-fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeOutUp {
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  border-radius: 0 0 10px 10px;
  min-height: var(--expo-log-footer-height);
  overflow: hidden;
}


/* md-visible */
@media screen and (min-width: 576px) {
  .overlay {
    top: 10vh;
    bottom: 10vh;
  }
  .container {
    border: 1px solid var(--expo-log-color-border);
    border-radius: 10px;
  }
}

@media (min-width: 576px) {
  .container {
    --expo-log-max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    --expo-log-max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    --expo-log-max-width: 960px;
  }
}
