/* TODO: Ensure these don't end up in the user project in production. Maybe use :host */
:root {
  /* Some of these are based on UIKit colors in dark mode: https://github.com/EvanBacon/expo-apple-colors/blob/80f541c38c7fadcbd8a1fe85800eea0b3a97079b/colors.css#L1 */
  --expo-log-color-border: #313538;
  --expo-log-color-label: #ffffff;
  --expo-log-color-background: #111113;
  --expo-log-secondary-label: rgba(234.6, 234.6, 244.8, 0.6);
  --expo-log-secondary-system-background: rgba(28.05, 28.05, 30.6, 1);
  --expo-log-secondary-system-grouped-background: color(display-p3 0.095 0.098 0.105);
  --expo-log-secondary-system-background-hover: color(display-p3 0.156 0.163 0.176);

  /* --red-10 */
  --expo-log-color-danger: color(display-p3 0.861 0.403 0.387);

  --expo-log-syntax-red: color(display-p3 0.861 0.403 0.387);
  --expo-log-syntax-orange: color(display-p3 1 0.63 0.38);

  --expo-log-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;
  --expo-log-font-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;

  --expo-log-gradient-from: #181a1b 15%;
  --expo-log-gradient-to: #181a1b00 100%;
  --expo-log-gradient-stops: var(--expo-log-gradient-from), var(--expo-log-gradient-to);
  --expo-log-footer-height: 3rem;
}
[data-webview] {
  --expo-log-footer-height: 0rem;
}


[data-expo-log-overlay] {
  position: fixed;
  top: 10vh;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9900;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

/* Reset all button children */
/* [data-expo-log-overlay] button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
} */

[data-expo-log-backdrop] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  pointer-events: all;
  z-index: -1;
}

[data-expo-log-root] {
  --expo-log-max-width: 960px;
  

  margin: 0 auto;
  max-width: var(--expo-log-max-width);
  width: 100%;
  max-height: calc(100% - 56px);

  gap: 0.5rem;

  background-color: var(--expo-log-color-background);
  display: flex;
  flex-direction: column;

  border: 1px solid var(--expo-log-color-border);
  border-radius: 10px;

  position: relative;
  padding-bottom: calc(var(--expo-log-footer-height) + 1rem);
  /* background-image: linear-gradient(to bottom, var(--expo-log-gradient-stops)); */
}

/* If the html has data-webview then make the root full screen */
[data-webview] [data-expo-log-root] {
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;

  /* Add safe area inset for the bottom and sides */
  padding-bottom: calc(var(--expo-log-footer-height) + env(safe-area-inset-bottom) + 1rem);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
[data-webview] [data-expo-log-overlay] {
  top: 0;
  bottom: 0;
}


[data-expo-log-toast] {
  /* black/60 on the border color. */
  background-color: #632e2c;
  height: 48px;
  justify-content: center;
  margin-bottom: 4px;
  display: flex;
  border-radius: 6px;
  transition: background-color 0.2s;
  border: 1px solid var(--expo-log-color-danger);
  /* border: 1px solid var(--expo-log-color-border); */
  cursor: pointer;
  overflow: hidden;
  flex: 1;
  padding: 0 10px;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

[data-expo-log-toast]:hover {
  background-color: #924340;
}

@media (min-width: 576px) {
  [data-expo-log-root] {
    --expo-log-max-width: 540px;
  }
}
@media (min-width: 768px) {
  [data-expo-log-root] {
    --expo-log-max-width: 720px;
  }
}
@media (min-width: 992px) {
  [data-expo-log-root] {
    --expo-log-max-width: 960px;
  }
}

[data-expo-log-footer] {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  border-radius: 0 0 10px 10px;
  min-height: var(--expo-log-footer-height);
  overflow: hidden;
}

.expo-log-page-button {
  border: none;
  outline: none;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
  background-color: var(--expo-log-secondary-system-background);
  padding: 2px;
  transition: background-color 0.2s;
}

.expo-log-page-button[aria-disabled] {
  cursor: not-allowed;
}

.expo-log-page-button:not([aria-disabled]):hover {
  background-color: var(--expo-log-secondary-system-background-hover);
}

.expo-log-code-frame-button {
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    align-items: center;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    font-size: 10px;

    background-color: transparent;

    box-shadow: none;
    /* gap: 6px; */
    height: 40px;
    border-radius: 0;
    border-width: 0;
    padding-left: 16px;
    padding-right: 16px;
}

.expo-log-code-frame-button:hover {
    background-color: var(--expo-log-secondary-system-background-hover);
}

.xs-hidden {
  display: none;
}

[data-text] {
  font-size: 0.7rem;
}


.expo-log-code-frame-header {
  padding-right: 54px;
}

@media (min-width: 576px) {
  .xs-hidden {
    display: block;
  }
  [data-text] {
    font-size: 1rem;
  }
  .expo-log-code-frame-header {
    padding-right: 96px;
  }
}
