.toast {
  /* black/60 on the border color. */
  background-color: #632e2c;
  height: 48px;
  justify-content: center;
  margin-bottom: 4px;
  display: flex;
  border-radius: 6px;
  transition: background-color 0.2s;
  border: 1px solid var(--expo-log-color-danger);
  /* border: 1px solid var(--expo-log-color-border); */
  cursor: pointer;
  overflow: hidden;
  flex: 1;
  padding: 0 10px;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.toast:hover {
  background-color: #924340;
}
