<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sdkVersions</key>
	<array>
		<string>24.0.0</string>
		<string>25.0.0</string>
		<string>26.0.0</string>
		<string>27.0.0</string>
		<string>28.0.0</string>
		<string>29.0.0</string>
		<string>30.0.0</string>
	</array>
</dict>
</plist>
