<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sdkVersions</key>
	<array>
		<string>7.0.0</string>
		<string>8.0.0</string>
		<string>9.0.0</string>
		<string>10.0.0</string>
		<string>11.0.0</string>
		<string>12.0.0</string>
		<string>13.0.0</string>
	</array>
</dict>
</plist>
