<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>test-do-not-use.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.test-do-not-use</string>
	<key>API_KEY</key>
	<string>A00000000000000000000000000000000000000</string>
	<key>GCM_SENDER_ID</key>
	<string>999999999999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.Exponent</string>
	<key>PROJECT_ID</key>
	<string>999999999999</string>
	<key>STORAGE_BUCKET</key>
	<string></string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999999999999:ios:0000000000000000</string>
	<key>FIREBASE_DATABASE_URL</key>
	<string>test-do-not-use.apps.googleusercontent.com</string>
</dict>
</plist>
