<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(EX_BUNDLE_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(EX_BUNDLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.14.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>exp</string>
				<string>exps</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>OAuthRedirect</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>host.exp.exponent</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.603386649315-vp4revvrcgrcjme51ebuhbkbspl048l9</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.14.6</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>a25fafe9f9edee11a9882b32e0cd7a26df6e2c42</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<false/>
	<key>FacebookAutoInitEnabled</key>
	<false/>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<false/>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>GADDelayAppMeasurementInit</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>waze</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow Expo experiences to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow Expo to access your camera to take photos</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow Expo experiences to access your contacts</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow Expo experiences to use your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow Expo experiences to use your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow Expo experiences to use your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow Expo experiences to access your microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow Expo experiences to access your device's accelerometer</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Give Expo experiences permission to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Give Expo experiences permission to access your photos</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow Expo experiences to access your reminders</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>Global Attributes</key>
	<dict>
		<key>Font name</key>
		<string>Gotham-Book</string>
		<key>Font file name</key>
		<string>Gotham-Book.otf</string>
		<key>Bold font name</key>
		<string>Gotham-Bold</string>
		<key>Bold font file name</key>
		<string>Gotham-Bold.otf</string>
		<key>Background color</key>
		<string></string>
		<key>Background image</key>
		<string></string>
		<key>Content background color</key>
		<string>F9F9F9</string>
		<key>Separator line color</key>
		<string>cbcbd0</string>
		<key>Text color</key>
		<string>000000</string>
		<key>Secondary text color</key>
		<string>aaaaaa</string>
		<key>Placeholder text color</key>
		<string>cbcbd0</string>
		<key>Contact us button color</key>
		<string></string>
		<key>Cell selection color</key>
		<string></string>
		<key>Search highlight color</key>
		<string></string>
		<key>Status bar light content</key>
		<string>NO</string>
		<key>Table view detail font color</key>
		<string></string>
		<key>Table view destructive action font color</key>
		<string></string>
		<key>Table view normal action font color</key>
		<string></string>
		<key>Table view destructive action color</key>
		<string></string>
		<key>Table view normal action color</key>
		<string></string>
		<key>Table view icon background color</key>
		<string>cccccc</string>
		<key>Table view disclosure color</key>
		<string></string>
		<key>Table view cell extra vertical padding</key>
		<integer>0</integer>
		<key>Table view max lines</key>
		<integer>3</integer>
	</dict>
	<key>Navigation Bar</key>
	<dict>
		<key>Font name</key>
		<string></string>
		<key>Font size</key>
		<string></string>
		<key>Title color</key>
		<string>000000</string>
		<key>Bar button text color</key>
		<string>FF7348</string>
		<key>Bar button font name</key>
		<string></string>
		<key>Bar button font size</key>
		<string></string>
		<key>Background color</key>
		<string>ffffff</string>
		<key>Set Translucent</key>
		<false/>
		<key>Hide back button label</key>
		<false/>
	</dict>
	<key>Search Bar</key>
	<dict>
		<key>Background color</key>
		<string></string>
		<key>Bar Style (iOS 11 and above)</key>
		<string>Default</string>
	</dict>
	<key>Table Section Header</key>
	<dict>
		<key>Font name</key>
		<string></string>
		<key>Font size</key>
		<string></string>
		<key>Text color</key>
		<string></string>
	</dict>
	<key>FAQ and Chat</key>
	<dict>
		<key>Notification color</key>
		<string>FF0000</string>
		<key>Chat send button color</key>
		<string>FF7348</string>
		<key>Timestamp text color</key>
		<string>8B8B8B</string>
		<key>FAQ yes button color</key>
		<string>5BB359</string>
		<key>FAQ no button color</key>
		<string>E74740</string>
		<key>Screenshot attach button color</key>
		<string>8D9DAF</string>
		<key>Screenshot tutorial button color</key>
		<string></string>
		<key>Typing indicator color</key>
		<string></string>
		<key>User message text color</key>
		<string>FFFFFF</string>
		<key>Agent message text color</key>
		<string>000000</string>
		<key>User message background color</key>
		<string>454545</string>
		<key>Agent message background color</key>
		<string>E7E7E7</string>
		<key>Media message background color</key>
		<string>FFFFFF</string>
		<key>Media message border color</key>
		<string>E7E7E7</string>
		<key>Media message action color</key>
		<string>FF7348</string>
		<key>Message error color</key>
		<string>FF3B30</string>
		<key>Selectable Option Text Color</key>
		<string>FF7348</string>
		<key>Selectable Option Background Color</key>
		<string>FFFFFF</string>
		<key>Selectable Option Border Color</key>
		<string>FF7348</string>
		<key>Selectable Option Roundness</key>
		<true/>
		<key>Field Background color</key>
		<string>FFFFFF</string>
		<key>Field border color</key>
		<string>B9B9B9</string>
		<key>Reply footer separator color</key>
		<string></string>
	</dict>
	<key>Message Retry Badge</key>
	<dict>
		<key>Text color</key>
		<string>FF7348</string>
		<key>Background color</key>
		<string></string>
	</dict>
	<key>Conversation Resolution</key>
	<dict>
		<key>Background color</key>
		<string></string>
		<key>Text color</key>
		<string></string>
		<key>Rating star color</key>
		<string>ff8000</string>
		<key>Yes button color</key>
		<string>5BB359</string>
		<key>No button color</key>
		<string>E74740</string>
	</dict>
</dict>
</plist>
