._8XKVMW_fileIcon {
  display: none;
}

._8XKVMW_copyButton {
  cursor: pointer;
  white-space: nowrap;
  box-shadow: none;
  border-width: 0;
  border-left: 1px solid var(--expo-log-color-border);
  background-color: #0000;
  background-color: var(--expo-log-color-background);
  border-radius: 0;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 10px;
  font-weight: 500;
  transition: all .2s ease-in-out;
  display: inline-flex;
}

._8XKVMW_copyButton:hover {
  background-color: var(--expo-log-secondary-system-background-hover);
}

._8XKVMW_copyButtonIcon {
  width: 1.1rem;
  height: 1.1rem;
  color: var(--expo-log-secondary-label);
  margin-bottom: -1px;
  transition: all .2s ease-in-out;
  transform: translateZ(0);
}

._8XKVMW_copyButton:hover ._8XKVMW_copyButtonIcon {
  transform-origin: 0 100%;
  transform: scale(1.1);
}

._8XKVMW_copyButtonText {
  color: var(--expo-log-color-label);
  letter-spacing: -.003rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  font-family: var(--expo-log-font-family);
  align-items: center;
  display: none;
}

._8XKVMW_headerScrollText {
  color: inherit;
  letter-spacing: -.009rem;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.25;
  display: flex;
  position: relative;
  overflow-x: auto;
}

._8XKVMW_headerScrollText::-webkit-scrollbar {
  display: none;
}

._8XKVMW_header {
  background-color: var(--expo-log-color-background);
  border-bottom: 1px solid var(--expo-log-color-border);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  justify-content: space-between;
  min-height: 40px;
  display: flex;
  position: relative;
  overflow: hidden;
}

._8XKVMW_headerIconWrapper {
  display: none;
}

._8XKVMW_headerText {
  overflow-wrap: break-word;
  font-family: var(--expo-log-font-mono);
  white-space: nowrap;
  color: var(--expo-log-color-label);
  padding-left: 12px;
  padding-right: 16px;
}

._8XKVMW_blurGradientRL {
  background: linear-gradient(to left, var(--expo-log-color-background) 0%, #0000 100%);
  pointer-events: none;
  width: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

._8XKVMW_blurGradientLR {
  background: linear-gradient(to right, var(--expo-log-color-background) 0%, #0000 100%);
  opacity: 0;
  pointer-events: none;
  border-top-left-radius: 6px;
  width: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

@media screen and (width >= 768px) {
  ._8XKVMW_fileIcon {
    display: block;
  }

  ._8XKVMW_headerText {
    padding-left: 0;
  }

  ._8XKVMW_headerIconWrapper {
    min-width: 1rem;
    height: 1rem;
    padding-left: 16px;
    display: block;
  }

  ._8XKVMW_header {
    padding-left: 0;
  }

  ._8XKVMW_copyButtonText {
    display: flex;
  }
}
