.aF6zBW_overlay {
  z-index: 9900;
  -webkit-font-smoothing: antialiased;
  flex-direction: column;
  align-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  inset: 0;
}

.aF6zBW_container {
  --expo-log-max-width: 960px;
  --expo-log-footer-height: 3rem;
  max-width: var(--expo-log-max-width);
  background-color: var(--expo-log-color-background);
  opacity: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin: 0 auto;
  animation: .2s ease-out forwards aF6zBW_fadeInUp;
  display: flex;
  position: relative;
  overflow-x: hidden;
  transform: translateY(20px);
}

.aF6zBW_content {
  background-color: var(--expo-log-color-background);
  flex-direction: column;
  flex: 1;
  display: flex;
}

.aF6zBW_scroll {
  background-color: var(--expo-log-color-background);
  padding-top: 16px;
  padding-bottom: calc(var(--expo-log-footer-height)  + 1rem);
  flex-direction: column;
  flex: 1;
  gap: .5rem;
  display: flex;
  position: relative;
  overflow: hidden auto;
}

.aF6zBW_bg {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  pointer-events: all;
  z-index: -1;
  opacity: 0;
  background-color: #000c;
  animation: .15s ease-out forwards aF6zBW_data-expo-log-backdrop-fade-in;
  position: fixed;
  inset: 0;
}

.aF6zBW_bgExit {
  opacity: 1;
  animation: .15s ease-in forwards aF6zBW_fadeOut;
}

.aF6zBW_containerExit {
  opacity: 1;
  animation: .15s ease-in forwards aF6zBW_fadeOutUp;
  transform: translateY(0);
}

@keyframes aF6zBW_data-expo-log-backdrop-fade-in {
  to {
    opacity: 1;
  }
}

@keyframes aF6zBW_fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes aF6zBW_fadeOutUp {
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes aF6zBW_fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.aF6zBW_footer {
  min-height: var(--expo-log-footer-height);
  border-radius: 0 0 10px 10px;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.aF6zBW_headerBlur {
  background: linear-gradient(to top, transparent, var(--expo-log-color-background));
  -webkit-mask-image: linear-gradient(to bottom, var(--expo-log-color-background) 50%, transparent);
  mask-image: linear-gradient(to bottom, var(--expo-log-color-background) 50%, transparent);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  height: 48px;
  min-height: 48px;
  position: absolute;
  top: 47px;
  left: 0;
  right: 0;
}

@media screen and (width >= 576px) {
  .aF6zBW_overlay {
    top: 10vh;
    bottom: 10vh;
  }

  .aF6zBW_container {
    border: 1px solid var(--expo-log-color-border);
    border-radius: 10px;
  }
}

@media (width >= 576px) {
  .aF6zBW_container {
    --expo-log-max-width: 540px;
  }
}

@media (width >= 768px) {
  .aF6zBW_container {
    --expo-log-max-width: 720px;
  }
}

@media (width >= 992px) {
  .aF6zBW_container {
    --expo-log-max-width: 960px;
  }
}
