.fApBhq_modal {
  pointer-events: auto;
  border: var(--expo-router-modal-border, none);
  box-sizing: border-box;
  will-change: transform;
  flex-direction: column;
  flex: 1;
  display: flex;
  overflow: auto;
}

.fApBhq_overlay {
  background-color: var(--expo-router-modal-overlay-background, #00000040);
  position: fixed;
  inset: 0;
}

@media (width >= 768px) {
  .fApBhq_modal {
    z-index: 50;
    width: var(--expo-router-modal-width, 83vw);
    min-width: var(--expo-router-modal-min-width, auto);
    max-width: var(--expo-router-modal-max-width, min(936px, 83vw));
    height: var(--expo-router-modal-height, 79dvh);
    max-height: min(var(--expo-router-modal-height, min(586px, 79dvh)), calc(100dvh - 2rem));
    min-height: min(var(--expo-router-modal-min-height, var(--expo-router-modal-height, min(586px, 79dvh))), calc(100dvh - 2rem));
    filter: var(--expo-router-modal-shadow, drop-shadow(0 10px 8px #0000000a) drop-shadow(0 4px 3px #0000001a));
    outline: none;
    position: relative;
    overflow: auto;
  }

  .fApBhq_modalWrap > .fApBhq_modal {
    pointer-events: auto;
  }
}

.fApBhq_drawerContent {
  outline: none;
  flex-direction: column;
  height: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

body > .fApBhq_transparentDrawerContent {
  outline: none;
  flex-direction: column;
  height: 100%;
  animation: none;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (width >= 768px) {
  .fApBhq_drawerContent {
    pointer-events: box-none;
    max-height: 100%;
  }
}

.fApBhq_modal::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.fApBhq_modal::-webkit-scrollbar-thumb {
  background: none;
}

.fApBhq_modalBody {
  box-sizing: border-box;
  flex: 1;
  display: flex;
  overflow: auto;
}

.fApBhq_drawerContent .fApBhq_modal[data-presentation="formSheet"], .fApBhq_drawerContent .fApBhq_modal[data-presentation="containedModal"] {
  box-shadow: none;
  filter: none;
  border-radius: inherit;
  width: 100%;
  max-width: none;
  min-height: auto;
  max-height: none;
  position: relative;
  transform: none;
}

.fApBhq_drawerContent .fApBhq_modal[data-presentation="modal"], .fApBhq_drawerContent .fApBhq_modal[data-presentation="fullScreenModal"] {
  width: var(--expo-router-modal-width, 83vw);
  min-width: var(--expo-router-modal-min-width, auto);
  max-width: var(--expo-router-modal-max-width, min(936px, 83vw));
  filter: var(--expo-router-modal-shadow, drop-shadow(0px 25px 50px #0000004d));
  border-radius: var(--expo-router-modal-border-radius, 24px);
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fApBhq_srOnly {
  display: none;
}
