.container {
  bottom: calc(6px + env(safe-area-inset-bottom, 0px));
  left: 10px;
  right: 10px;
  max-width: 320px;
  position: fixed;
  display: flex;
}

.toast {
  background-color: #632e2c;
  height: 48px;
  justify-content: center;
  margin-bottom: 4px;
  display: flex;
  border-radius: 6px;
  transition: background-color 0.2s;
  border: 1px solid var(--expo-log-color-danger);
  cursor: pointer;
  overflow: hidden;
  flex: 1;
  padding: 0 10px;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-family: var(--expo-log-font-family);
}

@media (hover: hover) {
  .toast:hover {
    background-color: #924340;
  }
}

.message {
  user-select: none;
  padding-left: 8px;
  color: var(--expo-log-color-label);
  font-family: var(--expo-log-font-family);
  flex: 1;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.count {
  min-width: 30px;
  height: 30px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: var(--expo-log-color-danger);
}

.countText {
  color: var(--expo-log-color-label);
  font-family: var(--expo-log-font-family);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-weight: 600;
  text-shadow: 0px 0px 3px rgba(51, 51, 51, 0.8);
}

.dismissButton {
  background: transparent;
  border: none;
  padding: 12px 10px;
  margin: -12px -10px;
  margin-left: calc(5px - 10px);
  cursor: pointer;
}

.dismissContent {
  background-color: rgba(255, 255, 255, 0.1);
  height: 20px;
  width: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}

@media (hover: hover) {
  .dismissButton:hover .dismissContent {
    opacity: 0.8;
  }
}

.dismissButton:active .dismissContent {
  opacity: 0.5;
}

.dismissIcon {
  width: 12px;
  height: 12px;
  color: white;
}
