/.expo/
/.next/
/.swc/
/coverage/
/node_modules/
/public/static/
/global-styles/nprogress.ts
/pages/versions/**/react-native/**/*
/pages/versions/latest/
/react-native-website/
/out/
/scripts/schemas/
