/.expo/
/.next/
/coverage/
/node_modules/
/public/static/libs/nprogress/nprogress.js
/public/static/libs/tippy/tippy.all.min.js
global-styles/nprogress.js
global-styles/nprogress.ts
/pages/versions/**/react-native/**/*
/react-native-website
/out
