@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  appearance: unset;
}

/* This isn't being included by Tailwind by default */
.bg-white {
  background-color: #fff;
}

#__next[aria-hidden] {
  filter: none !important;
}
