@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  appearance: unset;
}

#__next[aria-hidden] {
  filter: none !important;
}

.code-annotation {
  transition: 200ms ease all;
  transition-property: text-shadow, opacity;
  text-shadow:
    var(--yellow7) 0 0 10px,
    var(--yellow7) 0 0 10px,
    var(--yellow7) 0 0 10px,
    var(--yellow7) 0 0 10px;
}

.code-annotation.with-tooltip:hover {
  cursor: pointer;
  animation: none;
  opacity: 0.8;
}

.code-hidden {
  display: none;
}

.code-placeholder {
  opacity: 0.5;
}

.tutorial-code-annotation {
  transition: 200ms ease all;
  background-color: var(--green4);
  color: var(--green9);
}

.tutorial-code-annotation.with-tooltip:hover {
  cursor: pointer;
  animation: none;
  opacity: 0.8;
}
